@use "abstracts" as *;

.btn {
    background-color: transparent;
    border: 1px solid var(--primary-pink);
    border-radius: 2rem;
    text-transform: capitalize;

    &--primary {
        background-color: var(--primary-pink);
        color: var(--secondary-very-pale-blue);
        padding: 1rem 3rem;
        font-weight: 700;
        box-shadow: 0 2px 5px 3px var(--secondary-shadow-gray);
        transition: ease 0.3s all;

        &:hover {
            background-color: var(--primary-light-pink);
            border-color: var(--primary-light-pink);
            cursor: pointer;
        }

        @include breakpoint(tablet) {
            padding: 1.5rem 7rem;
            font-size: var(--fs-300);
            border-radius: 4rem;
        }
    }

    &--secondary {
        padding: 0.4rem 1.5rem;
        color: var(--primary-pink);
        font-size: var(--fs-100);
        transition: ease 0.3s all;

        &:hover {
            color: var(--primary-light-pink);
            border-color: var(--primary-light-pink);
            cursor: pointer;
        }

        @include breakpoint(tablet) {
            font-size: var(--fs-200);
            padding: 0.6rem 1.5rem;
        }
    }

    &--tertiary {
        padding: 0.8rem 2.5rem;
        border-radius: 5px;
        background-color: var(--primary-pink);
        color: var(--secondary-white);
        font-weight: bold;
        transition: ease 0.3s all;

        &:hover {
            background-color: var(--primary-light-pink);
            border-color: var(--primary-light-pink);
            cursor: pointer;
        }
    }
}
