@use "abstracts" as *;

header,
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: var(--secondary-white);

    @include breakpoint(tablet) {
        padding: 4rem;
    }

    &__logo-container {
        width: 120px;

        @include breakpoint(tablet) {
            width: 220px;
        }
    }
}
